{% extends 'base.html.twig' %}

{% block title %}Edit Employer{% endblock %}

{% block body %}

<div class="container">
    <h1 class="titleContact py-3">Éditer l'employé</h1>

    {{ include('employer/_form.html.twig', {'button_label': 'Éditer'}) }}
<div class="pt-3">
    {{ include('employer/_delete_form.html.twig') }}
</div>
</div>
{% endblock %}
