{% extends 'base.html.twig' %}

{% block title %}Nouveau employé{% endblock %}

{% block body %}
<div class="container">
    <h1 class="titleContact py-3">Créer un nouvelle employé</h1>

    {{ include('employer/_form.html.twig') }}
</div>

{% endblock %}
