{% extends 'base.html.twig' %}

{% block title %}New Word{% endblock %}

{% block body %}
    <h1>Créé un nouveau dossier</h1>

    {{ include('word/_form.html.twig') }}

    <a href="{{ path('app_word_index') }}">back to list</a>
{% endblock %}
