{% extends 'base.html.twig' %}

{% block title %}New Word{% endblock %}

{% block body %}
    
    <div class="container pt-5">

    <h1>Créé un nouveau dossier</h1>

    {{ include('word/_form.html.twig') }}

    </div>

{% endblock %}