{% extends 'base.html.twig' %}

{% block title %}Nouvelle Entreprise{% endblock %}

{% block body %}
<div class="container">
    <h1 class="titleContact py-3">Nouvelle Entreprise</h1>

    {{ include('entreprise/_form.html.twig') }}

    <a class="btn btn-primary mt-3" href="{{ path('app_entreprise_index') }}">Revenir à la liste</a>
</div>
{% endblock %}
