* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto  ;
}

.colorPrimary {
    color: $primary;
}

.max-w-650 {
    max-width: 650px;
}

.max-w-450 {
    max-width: 450px;
}

.max-w-350 {
    max-width: 350px;
}

.w-350 {
    width: 350px;
}

.size-2 {
    font-size: 2rem;
}

.size-3 {
    font-size: 3rem;
}

@media screen and (max-width: 600px) {
    .desk {
        display: none;
    }
}

.titleAvis {
    font-size: 3rem;
    color: $primary;
}

.titleContact {
    font-size: 3rem;
    color: $primary;
}

.bg-table {
    background-color: $grey-light;
}

.labelForm {
    font-size: 1.3rem;
}

#imgProfil {
    max-width: 100%;
    height: auto;
}

.message {
    border: thick double $primary;
    min-height: 50vh;
}

.message img {
    max-width: 100%;
    height: auto;
}