// slider
.slider {
    height: 50vh;
    position: relative;
}

.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

.left, .right {
    color: $primary;
    font-size: 3rem;
    position: absolute;
    top: calc(50% - 1.5rem); /* 1.5rem = font-size/2  */
}

.right {
    right: 1rem;
}

.left {
    left: 1rem;
}

.cta {
    z-index: 99;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.699);
    color: $grey-light;
}
// END slider

/* Section "présentation" */
section strong {
    color: $primary;
}

section li, p {
    color: $text;
}

section h1, h2 {
    color: $secondary;
}

.max-w-650 {
    max-width: 650px;
}

.max-w-450 {
    max-width: 450px;
}

.max-w-350 {
    max-width: 350px;
}

.boiteCTA {
    background-color: $primary;
    border-radius: 10px;
}

// section "qui sommes-nous" 
.quiSommesNous {
    background-image: url("../images/Background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100px;
}

.text-w {
    color: $text-w;
}

// Section "Chiffre"

.chiffres {
    font-size: 60px;
}

// section "avis clients"

.Card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;
}

.Card-image .Card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid $primary;
}

.Card {
    max-width: 350px;
    border-radius: 5%;
    background-color: $grey-light;
}

.Slide-container {
    max-width: 1120px;
    min-height: 440px;
    width: 100%;
    background-color: $grey-light-opa;
    padding: 40px 0;
    border-radius: 10px;
}

// .Slide-content {
//     margin: 0 40px;
// }

.Image-content, .Card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.Image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.Overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $primary;
    border-radius: 10px 10px 0 25px;
}

.Overlay::before, .Overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: $primary;
}
.Overlay::after {
    border-radius: 0 25px 0 0;
    background-color: $grey-light;
}

.Name {
    font-size: 18px;
    font-weight: 500;
    color: $secondary;
}

.Description {
    font-size: 14px;
    color: $text;
    word-wrap:break-word;
    width: 320px;
}

.Button {
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: $secondary;
    border-radius: 6px;
    margin: 14px;
    transition: all 0.3s ease;
}

.Button:hover {
    background: $primary;
}