// slider
.slider {
    height: 50vh;
    position: relative;
}

.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

.left, .right {
    color: $primary;
    font-size: 3rem;
    position: absolute;
    top: calc(50% - 1.5rem); /* 1.5rem = font-size/2  */
}

.right {
    right: 1rem;
}

.left {
    left: 1rem;
}

.cta {
    z-index: 99;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.699);
    color: $grey-light;
}
// END slider

/* Section "présentation" */
section strong {
    color: $primary;
}

section li, p {
    color: $text;
}

section h1, h2 {
    color: $secondary;
}

.max-w-650 {
    max-width: 650px;
}

.max-w-450 {
    max-width: 450px;
}

.max-w-350 {
    max-width: 350px;
}

.boiteCTA {
    background-color: $primary;
    border-radius: 10px;
}

// section "qui sommes-nous" 
.quiSommesNous {
    background-image: url("../images/Background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100px;
}

.text-w {
    color: $text-w;
}
