{% extends 'base.html.twig' %}

{% block title %}ComptAgency - PDF{% endblock %}

{% block body %}
<h1 class="text-center mt-5">PDF</h1>
<p>{% if 'text' is not empty %}
{{text}}
{% endif %}</p>

{% endblock %}
