{% extends 'base.html.twig' %}

{% block title %}Éditer son profil{% endblock %}

{% block body %}
<div class="container">
    <h1 class="titleContact py-3">Éditer son profil</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
<div class="mt-3">
    {{ include('user/_delete_form.html.twig') }}
</div>
</div>
{% endblock %}
